/* --------------------------------
 * 枚举窗口
 * --------------------------------
 */
#enum {
  width: 572px;
  height: 700px;
}

#enum-list-fieldset {
  left: 10px;
  top: 10px;
  width: 320px;
  height: 622px;
}

#enum-list {
  font-family: var(--font-family-mono);
}

.enum-item {
  padding-right: 20px;
}

.enum-init-text {
  pointer-events: none;
  color: var(--text-color-variable-init);
}

.selected > .enum-init-text {
  color: var(--text-color-accelerator-selected);
}

node-icon.icon-note {
  position: absolute;
  margin: 2px;
  right: 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
  color: var(--text-color-variable-init);
}

.selected > node-icon.icon-note {
  color: var(--text-color-accelerator-selected);
}

#enum-properties-fieldset {
  left: 340px;
  top: 10px;
  width: 222px;
  height: 622px;
}

#enum-properties-flex {
  flex-direction: column;
}

#enum-spacing-box {
  height: 292px;
}

#enum-note {
  height: 196px;
}

#enum-searcher {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 258px;
}

#enum-confirm {
  right: 206px;
  bottom: 10px;
}

#enum-cancel {
  right: 108px;
  bottom: 10px;
}

#enum-apply {
  right: 10px;
  bottom: 10px;
}
