# ignore

# files
.DS_Store
package-lock.json
config.json

# folders
node_modules/
redist/
*.pak
*.dll
*.exe
*.dat
_electron/LICENSE
_electron/LICENSES.chromium.html
*.bin
_electron/version

build/
dist/
main.js
main.js.map

# 不上传pnpm的包锁文件
pnpm-lock.yaml