# 默认 淘宝镜像
registry=https://registry.npmmirror.com/

# 指定特定包的镜像源 确保安装时能安装到最新的包
@ruan-cat:registry=https://registry.npmjs.org/

# 关闭验证 确保安装electron时不会出现ssl验证错误
strict-ssl=false

# 手动指定依赖包的下载镜像 确保下载成功
# https://blog.csdn.net/weixin_46525113/article/details/132299107
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
