/* --------------------------------
 * 项目设置窗口
 * --------------------------------
 */
#project-settings {
  width: 480px;
  height: 700px;
}

#project-page {
  position: absolute;
  top: 0;
  bottom: 40px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* background-color: green; */
}

#project-grid-box {
  display: grid;
  margin: 10px 4px 10px 10px;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr;
  line-height: 20px;
  white-space: nowrap;
}

.project-summary {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.2em;
/*  font-weight: bold;*/
  font-family: var(--font-family-bold);
}

.project-label {
  text-indent: 1em;
}

#project-confirm {
  right: 108px;
  bottom: 10px;
}

#project-cancel {
  right: 10px;
  bottom: 10px;
}

/* --------------------------------
 * 过渡窗口
 * --------------------------------
 */
#easing {
  width: 800px;
  height: 604px;
}

#easing-list-fieldset {
  left: 10px;
  top: 10px;
  width: 200px;
  height: 234px;
}

#easing-list {
  font-family: var(--font-family-mono);
}

#easing-points-fieldset {
  left: 220px;
  top: 10px;
  width: 326px;
  height: 234px;
}

#easing-points-grid {
  grid-template-columns: 100px 98px 98px;
}

#easing-mode {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
}

#easing-points-0-x,
#easing-points-0-y,
#easing-points-1-x,
#easing-points-1-y,
#easing-points-2-x,
#easing-points-2-y,
#easing-points-3-x,
#easing-points-3-y,
#easing-points-4-x,
#easing-points-4-y,
#easing-points-5-x,
#easing-points-5-y,
#easing-points-6-x,
#easing-points-6-y,
#easing-points-7-x,
#easing-points-7-y {
  width: 98px;
}

#easing-curve-fieldset {
  padding: 10px;
  left: 556px;
  top: 10px;
  width: 234px;
  height: 234px;
}

#easing-curve-canvas {
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  /* background-color: green; */
}

[name=easing-scale] {
  display: block;
  position: relative;
  margin: 0 -10px;
  width: 44px;
  text-indent: 10px;
  line-height: 12px;
  font-size: 12px;
  opacity: 0.25;
}

[name=easing-scale].selected {
  opacity: 1;
}

#easing-preview-fieldset {
  left: 10px;
  top: 254px;
  width: 780px;
  height: 282px;
}

#easing-preview-canvas {
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  /* background-color: green; */
}

#easing-preview-grid {
  position: absolute;
  left: auto;
  right: 0;
  grid-template-columns: 60px 1fr;
}

#easing-preview-reverse,
#easing-preview-duration,
#easing-preview-delay {
  width: 80px;
}

#easing-confirm {
  right: 108px;
  bottom: 10px;
}

#easing-cancel {
  right: 10px;
  bottom: 10px;
}

/* --------------------------------
 * 队伍窗口
 * --------------------------------
 */
#team {
  width: 304px;
  height: 420px;
}

#team-list-fieldset {
  left: 10px;
  top: 10px;
  width: 284px;
  height: 342px;
}

#team-list {
  font-family: var(--font-family-mono);
}

#team-list > common-item {
  padding-right: 26px;
}

.team-icon {
  margin: 3px 4px 3px 0;
  width: 14px;
  height: 14px;
  border: var(--node-icon-border);
  pointer-events: inherit;
}

.team-mark {
  position: absolute;
  right: 10px;
  font-size: 16px;
  font-family: var(--font-family-symbol);
}

.team-mark.enemy {
  color: var(--team-mark-color-enemy);
}

.team-mark.friend {
  color: var(--team-mark-color-friend);
}

#team-confirm {
  right: 108px;
  bottom: 10px;
}

#team-cancel {
  right: 10px;
  bottom: 10px;
}
