/* --------------------------------
 * 加载字体
 * --------------------------------
 */
@font-face {
  font-family: Awesome;
  src: url("../Fonts/font_awesome.woff2");
}

@font-face {
  font-family: Inter;
  src: url("../Fonts/Inter-Regular.woff2");
}

@font-face {
  font-family: Inter Bold;
  src: url("../Fonts/Inter-Bold.woff2");
}

/* --------------------------------
 * CSS 动画
 * --------------------------------
 */
@keyframes marquee-flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

/* --------------------------------
 * 物理像素变量
 * --------------------------------
 */
:root {
  --1dpx: 1px;
  --2dpx: 2px;
  --3dpx: 3px;
  --16dpx: 16px;
}

@media (min-resolution: 1.25dppx) {
  :root {
    --1dpx: 0.8px;
    --2dpx: 1.6px;
    --3dpx: 2.4px;
    --16dpx: 12.8px;
  }
}

@media (min-resolution: 1.5dppx) {
  :root {
    --1dpx: 0.666667px;
    --2dpx: 1.333333px;
    --3dpx: 2px;
    --16dpx: 10.666667px;
  }
}

@media (min-resolution: 1.75dppx) {
  :root {
    --1dpx: 0.571429px;
    --2dpx: 1.142857px;
    --3dpx: 1.714286px;
    --16dpx: 9.142857px;
  }
}

@media (min-resolution: 2dppx) {
  :root {
    --1dpx: 0.5px;
    --2dpx: 1px;
    --3dpx: 1.5px;
    --16dpx: 8px;
  }
}

/* --------------------------------
 * 主题配色 - 明亮
 * --------------------------------
 */
:root {
  --font-size-normal: 12px;
  --font-family-normal: -apple-system, BlinkMacSystemFont, Inter, Microsoft YaHei UI;
  --font-family-bold: -apple-system, BlinkMacSystemFont, Inter Bold, Microsoft YaHei UI;
  --font-family-mono: Consolas, Microsoft YaHei UI;
  --font-family-title: Arial, Microsoft YaHei UI;
  --font-family-accelerator: Segoe UI;
  --font-family-symbol: Awesome;
  --stage-info-text-shadow:
    -1px 0 rgba(0, 0, 0, 0.75),
    0 -1px rgba(0, 0, 0, 0.75),
    1px 0 rgba(0, 0, 0, 0.75),
    0 1px rgba(0, 0, 0, 0.75);
  --marquee-background: rgba(0, 192, 255, 0.4);
  --marquee-border: 1px solid #ffffff;
  --text-color: #000000;
  --text-color-inverse: #ffffff;
  --text-color-unit: #808080;
  --text-color-rename: #000000;
  --text-color-disabled: #c0c0c0;
  --text-color-error: #ff0000;
  --text-color-variable-init: #d0d0d0; /*RGB格式文本更粗*/
  --text-color-accelerator-selected: rgba(255, 255, 255, 0.5);
  --error-message-background: rgba(255, 255, 255, 0.5);
  --folder-mark-color: rgba(0, 0, 0, 0.35);
  --folder-icon-color: rgba(0, 96, 160, 0.8);
  --folder-icon-color-selected: rgba(160, 224, 240, 0.8);
  --file-icon-color: rgba(0, 0, 0, 0.7);
  --parallax-icon-background: rgba(0, 0, 0, 0.1);
  --workspace-background: #b0b0b0;
  --home-page-background: #e0e0e0;
  --recent-card-background: #ffffff;
  --recent-card-stat-color: #606060;
  --scrollbar-track-background: rgba(0, 0, 0, 0.05);
  --scrollbar-track-border: var(--1dpx) solid rgba(0, 0, 0, 0.1);
  --scrollbar-thumb-background: rgba(0, 0, 0, 0.15);
  --scrollbar-thumb-background-hover: rgba(0, 0, 0, 0.2);
  --custom-scrollbar-thumb-background: rgba(255, 255, 255, 0.25);
  --custom-scrollbar-thumb-background-hover: rgba(255, 255, 255, 0.36);
  --custom-scrollbar-thumb-border: 1px solid #ffffff;
  --toolbar-item-color-highlight: #c800a4;
  --toolbar-item-background-hover: #f0f0f0;
  --toolbar-item-background-selected: #f8f8f8;
  --toolbar-item-border: 1px solid #d0d0d0;
  --nav-bar-background: #d0d0d0;
  --nav-bar-border: 1px solid #c0c0c0;
  --nav-item-background: transparent;
  --nav-item-background-hover: #cccccc;
  --nav-item-background-selected: #e0e0e0;
  --group-page-background: #e0e0e0;
  --group-head-background: #e8e8e8;
  --stage-page-background: #c8c8c8;
  --summary-background: #e8e8e8;
  --summary-background-hover: #f0f0f0;
  --summary-border-dark: 1px solid #b0b0b0;
  --summary-border-light: 1px solid #cccccc;
  --window-background: #f0f0f0;
  --window-outline: var(--1dpx) solid rgba(0, 0, 0, 0.25);
  --title-background: #d0d0d0;
  --tab-item-background: #cccccc;
  --tab-item-background-hover: #e0e0e0;
  --tab-item-background-selected: #f0f0f0;
  --tab-item-border: 1px solid #b0b0b0;
  --tab-close-color: rgba(0, 0, 0, 0.5);
  --tab-close-color-hover: rgba(0, 0, 0, 0.75);
  --tab-close-color-active: #000000;
  --titlebar-background: #ffffff;
  --titlebar-button-background-hover: rgba(0, 0, 0, 0.1);
  --titlebar-button-background-active: rgba(0, 0, 0, 0.2);
  --titlebar-close-color: white;
  --titlebar-close-background-hover: rgba(232, 17, 35, 1);
  --titlebar-close-background-active: rgba(232, 17, 35, 0.6);
  --fieldset-background: #e8e8e8;
  --fieldset-border: 1px solid #b0b0b0;
  --button-background: #ffffff;
  --button-background-hover: #e4f0fa;
  --button-background-active: #cce4f8;
  --button-background-disabled: #f0f0f0;
  --input-background: #ffffff;
  --input-background-hover: #e4f0fa;
  --input-background-disabled: #f0f0f0;
  --input-border: 1px solid #a0a0a0;
  --input-border-dark: 1px solid #a0a0a0;
  --input-border-light: 1px solid #d0d0d0;
  --input-border-color: #a0a0a0;
  --input-border-color-focus: #0050a0;
  --select-list-background: #ffffff;
  --tooltip-background: #ffffff;
  --tooltip-border: 1px solid #000000;
  --suggestion-widget-background: #f8f8f8;
  --slider-thumb-background: #ffffff;
  --slider-thumb-background-hover: #f8f8f8;
  --slider-thumb-background-active: #e0e0e0;
  --slider-bar-background: #b0b0b0;
  --slider-filler-background: #ffffff;
  --check-box-mark-color: #0060ac;
  --radio-box-mark-color: #0060ac;
  --number-box-label-red: #ff0000;
  --number-box-label-green: #00c000;
  --number-box-label-blue: #0000ff;
  --selector-browser-background: #f0f0f0;
  --selector-browser-border: 1px solid #c0c0c0;
  --viewer-background: #cccccc;
  --selected-background: #2080d0;
  --selected-background-blur: rgba(0, 0, 0, 0.1);
  --selection-background: rgba(32, 128, 192, 0.996);
  --drop-target-background: rgba(32, 128, 192, 0.4);
  --grid-background: url("../Images/grid_light.png");
  --node-icon-color: rgba(0, 0, 0, 0.2);
  --node-icon-color-highlight: rgba(0, 0, 0, 0.8);
  --node-icon-border: 1px solid var(--text-color);
  --node-bubble-background: rgba(0, 0, 0, 0.15);
  --node-hint-background: #c800a4;
  --menu-list-background: #ffffff;
  --menu-list-outline: var(--1dpx) solid rgba(0, 0, 0, 0.25);
  --menu-separator-background: #e0e0e0;
  --list-item-background-hover: rgba(0, 0, 0, 0.05);
  --timeline-ruler-number-shadow: 1px 1px rgba(255, 255, 255, 0.75);
  --timeline-ruler-background: url("../Images/timeline_scale_light.png");
  --timeline-frame-list-background: #cccccc;
  --timeline-grid: url("../Images/timeline_grid_light.png");
  --timeline-grid-border: 1px solid #c0c0c0;
  --timeline-key-background: rgba(0, 0, 0, 0.2);
  --timeline-key-mark-color: #202020;
  --timeline-key-long-color: #787878;
  --timeline-key-easing-color: #004080;
  --timeline-cursor-background: rgba(0, 0, 0, 0.1);
  --timeline-marquee-background: rgba(0, 128, 255, 0.4);
  --timeline-marquee-shift-background: rgba(255, 224, 0, 0.4);
  --timeline-marquee-shift-background-disabled: rgba(255, 0, 0, 0.4);
  --command-gutter-border: 1px dotted #e0e0e0;
  --command-line-number-color: rgba(0, 0, 0, 0.35);
  --command-color-mark-minor: rgba(0, 0, 0, 0.3);
  --command-color-mark-minor-selected: rgba(255, 255, 255, 0.3);
  --command-color-element: #800080;
  --command-color-gray: #808080;
  --command-color-text: #191970;
  --command-color-variable: #ff0000;
  --command-color-flow: #0000ff;
  --command-color-comment: #008000;
  --command-color-wait: #dc143c;
  --command-color-object: #606000;
  --command-color-audio: #008080;
  --command-color-actor: #800000;
  --command-color-skill: #804000;
  --command-color-inventory: #f06000;
  --command-color-scene: #0080c0;
  --command-color-system: #ff289c;
  --command-color-custom: #c800a4;
  --command-color-invalid: #ff0000;
  --indexed-color-border-color-selected: #000000;
  --team-mark-color-enemy: #ff0000;
  --team-mark-color-friend: #00c000;
  --audio-waveform-background: #a0a0a0;
  --audio-waveform-background-active: #606060;
  --icon-conditional-color: #ff4040;
  --icon-eventEnabled-color: #40ff80;
  --icon-scriptEnabled-color: #0080ff;
  --icon-loop-color: #00a0c0;
  --plugin-name-color: #c800a4;
  --plugin-key-color: #0000e0;
  --plugin-type-color: #00a0a0;
  --plugin-link-background-hover: rgba(0, 0, 0, 0.1);
  --shared-variable-color: #009090;
  --temporary-variable-color: #0000c0;
  --attribute-color-invalid: #ff0000;
}

/* --------------------------------
 * 主题配色 - 黑暗
 * --------------------------------
 */
:root.dark {
  --text-color: #cccccc;
  --text-color-inverse: #000000;
  --text-color-unit: #808080;
  --text-color-rename: #ffffff;
  --text-color-disabled: #606060;
  --text-color-error: #ffc0cb;
  --text-color-variable-init: rgba(255, 255, 255, 0.25); /*RGBA格式文本更粗*/
  --text-color-accelerator-selected: rgba(255, 255, 255, 0.25);
  --error-message-background: rgba(0, 0, 0, 0.5);
  --folder-mark-color: rgba(255, 255, 255, 0.35);
  --folder-icon-color: rgba(255, 255, 255, 0.7);
  --folder-icon-color-selected: rgba(255, 255, 255, 0.85);
  --file-icon-color: rgba(255, 255, 255, 0.85);
  --parallax-icon-background: rgba(255, 255, 255, 0.1);
  --workspace-background: #181818;
  --home-page-background: #181818;
  --recent-card-background: #000000;
  --recent-card-stat-color: #a0a0a0;
  --scrollbar-track-background: rgba(0, 0, 0, 0.1);
  --scrollbar-track-border: var(--1dpx) solid rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-background: rgba(255, 255, 255, 0.2);
  --scrollbar-thumb-background-hover: rgba(255, 255, 255, 0.24);
  --custom-scrollbar-thumb-background: rgba(0, 0, 0, 0.25);
  --custom-scrollbar-thumb-background-hover: rgba(0, 0, 0, 0.36);
  --custom-scrollbar-thumb-border: 1px solid #000000;
  --toolbar-item-color-highlight: #1cff9b;
  --toolbar-item-background-hover: #484848;
  --toolbar-item-background-selected: #585858;
  --toolbar-item-border: 1px solid #282828;
  --nav-bar-background: #282828;
  --nav-bar-border: 1px solid #202020;
  --nav-item-background: transparent;
  --nav-item-background-hover: #333333;
  --nav-item-background-selected: #333333;
  --group-page-background: #333333;
  --group-head-background: #3c3c3c;
  --stage-page-background: #202020;
  --summary-background: #383838;
  --summary-background-hover: #404040;
  --summary-border-dark: 1px solid #181818;
  --summary-border-light: 1px solid #282828;
  --window-background: #333333;
  --window-outline: var(--1dpx) solid rgba(0, 0, 0, 0.5);
  --title-background: #202020;
  --tab-item-background: #202020;
  --tab-item-background-hover: #323232;
  --tab-item-background-selected: #323232;
  --tab-item-border: 1px solid #000000;
  --tab-close-color: rgba(255, 255, 255, 0.5);
  --tab-close-color-hover: rgba(255, 255, 255, 0.75);
  --tab-close-color-active: #ffffff;
  --titlebar-background: #282828;
  --titlebar-button-background-hover: rgba(255, 255, 255, 0.1);
  --titlebar-button-background-active: rgba(255, 255, 255, 0.2);
  --titlebar-color: white;
  --titlebar-close-background-hover: rgba(232, 17, 35, 1);
  --titlebar-close-background-active: rgba(232, 17, 35, 0.6);
  --fieldset-background: #383838;
  --fieldset-border: 1px solid #181818;
  --button-background: #484848;
  --button-background-hover: #505050;
  --button-background-active: #303840;
  --button-background-disabled: #404040;
  --input-background: #18191a;
  --input-background-hover: #282828;
  --input-background-disabled: #404040;
  --input-border: 1px solid #080808;
  --input-border-dark: 1px solid #000000;
  --input-border-light: 1px solid #101010;
  --input-border-color: #101010;
  --input-border-color-focus: #0080ff;
  --select-list-background: #202020;
  --tooltip-background: #3c3c3c;
  --tooltip-border: 1px solid #000000;
  --suggestion-widget-background: #202020;
  --slider-thumb-background: #484848;
  --slider-thumb-background-hover: #505050;
  --slider-thumb-background-active: #333333;
  --slider-bar-background: #18191a;
  --slider-filler-background: #c0c0c0;
  --check-box-mark-color: #0060ac;
  --radio-box-mark-color: #0060ac;
  --number-box-label-red: #ff0000;
  --number-box-label-green: #00ff00;
  --number-box-label-blue: #0000ff;
  --selector-browser-background: #202020;
  --selector-browser-border: 1px solid #181818;
  --viewer-background: #181818;
  --selected-background: #084872;
  --selected-background-blur: rgba(255, 255, 255, 0.1);
  --selection-background: rgba(8, 72, 114, 0.996);
  --drop-target-background: rgba(8, 72, 114, 0.4);
  --grid-background: url("../Images/grid_dark.png");
  --node-icon-color: rgba(255, 255, 255, 0.1);
  --node-icon-color-highlight: rgba(255, 255, 255, 0.6);
  --node-icon-border: 1px solid var(--text-color);
  --node-bubble-background: rgba(255, 255, 255, 0.15);
  --node-hint-background: #1cff9b;
  --menu-list-background: #202020;
  --menu-list-outline: var(--1dpx) solid #101010;
  --menu-separator-background: #404040;
  --list-item-background-hover: rgba(255, 255, 255, 0.05);
  --timeline-ruler-number-shadow: 1px 1px rgba(0, 0, 0, 0.75);
  --timeline-ruler-background: url("../Images/timeline_scale_dark.png");
  --timeline-frame-list-background: #2c2c2c;
  --timeline-grid: url("../Images/timeline_grid_dark.png");
  --timeline-grid-border: 1px solid #000000;
  --timeline-key-background: rgba(0, 0, 0, 0.5);
  --timeline-key-mark-color: #a0a0a0;
  --timeline-key-long-color: #606060;
  --timeline-key-easing-color: #00c080;
  --timeline-cursor-background: rgba(255, 255, 255, 0.1);
  --timeline-marquee-background: rgba(0, 255, 255, 0.25);
  --timeline-marquee-shift-background: rgba(255, 255, 0, 0.25);
  --timeline-marquee-shift-background-disabled: rgba(255, 0, 0, 0.25);
  --command-gutter-border: 1px dotted #333333;
  --command-line-number-color: rgba(255, 255, 255, 0.25);
  --command-color-mark-minor: rgba(255, 255, 255, 0.3);
  --command-color-mark-minor-selected: rgba(255, 255, 255, 0.3);
  --command-color-element: #ffa0ff;
  --command-color-gray: #c0c0c0;
  --command-color-text: #b0c4de;
  --command-color-variable: #fa8072;
  --command-color-flow: #b0e0e6;
  --command-color-comment: #28a528;
  --command-color-wait: #ffa07a;
  --command-color-object: #deb887;
  --command-color-audio: #00fa9a;
  --command-color-actor: #ffc0cb;
  --command-color-skill: #f0e68c;
  --command-color-inventory: #ffd700;
  --command-color-scene: #00ced1;
  --command-color-system: #ff69b4;
  --command-color-custom: #e8dcaa;
  --command-color-invalid: #ff0000;
  --indexed-color-border-color-selected: #ffffff;
  --team-mark-color-enemy: #ff0000;
  --team-mark-color-friend: #00ff00;
  --audio-waveform-background: #505050;
  --audio-waveform-background-active: #a0a0a0;
  --icon-conditional-color: #ff8080;
  --icon-eventEnabled-color: #40e080;
  --icon-scriptEnabled-color: #40c0ff;
  --icon-loop-color: #0080ff;
  --plugin-name-color: #e8dcaa;
  --plugin-key-color: #bce0ff;
  --plugin-type-color: #4ec9b0;
  --plugin-link-background-hover: rgba(255, 255, 255, 0.2);
  --shared-variable-color: #4ec9b0;
  --temporary-variable-color: #bce0ff;
  --attribute-color-invalid: #ff0000;
}

/* --------------------------------
 * 滚动条
 * --------------------------------
 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-button:single-button {
  background-clip: content-box;
  background-color: var(--scrollbar-track-background);
}

::-webkit-scrollbar-track:horizontal {
  border-top: var(--scrollbar-track-border);
}

::-webkit-scrollbar-track:vertical {
  border-left: var(--scrollbar-track-border);
}

::-webkit-scrollbar-button:single-button:horizontal {
  width: 10px;
  background-repeat: no-repeat;
  background-position: center;
  border-top: var(--scrollbar-track-border);
}

::-webkit-scrollbar-button:single-button:vertical {
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  border-left: var(--scrollbar-track-border);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background-image: url("../Images/scrollbar_arrow_left.png");
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background-image: url("../Images/scrollbar_arrow_right.png");
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url("../Images/scrollbar_arrow_up.png");
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url("../Images/scrollbar_arrow_down.png");
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--scrollbar-thumb-background);
}

::-webkit-scrollbar-thumb:hover:not(:active) {
  background-color: var(--scrollbar-thumb-background-hover);
}

::-webkit-scrollbar-thumb:horizontal {
  border-top: var(--2dpx) solid transparent;
  border-bottom: var(--1dpx) solid transparent;
  border-radius: var(--3dpx) var(--3dpx) var(--2dpx) var(--2dpx);
}

::-webkit-scrollbar-thumb:vertical {
  border-left: var(--2dpx) solid transparent;
  border-right: var(--1dpx) solid transparent;
  border-radius: var(--3dpx) var(--2dpx) var(--2dpx) var(--3dpx);
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-track-background);
}

/* --------------------------------
 * 自定义滚动条
 * --------------------------------
 */
scroll-bar {
  display: none;
}

scroll-bar.visible {
  display: block;
}

scroll-bar.horizontal {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12px;
}

scroll-bar.horizontal.with-corner {
  width: calc(100% - 12px);
}

scroll-bar.vertical {
  position: absolute;
  right: 0;
  width: 12px;
  height: 100%;
}

scroll-bar.vertical.with-corner {
  height: calc(100% - 12px);
}

scroll-thumb {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-delay: 0.4s;
  transition-duration: 0.8s;
}

scroll-bar:hover > scroll-thumb,
scroll-bar:active > scroll-thumb,
scroll-bar.dragging > scroll-thumb {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  transition-duration: 0.2s;
}

scroll-thumb-inner {
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  background-color: var(--custom-scrollbar-thumb-background);
  border: var(--custom-scrollbar-thumb-border);
  border-radius: 2px;
  pointer-events: none;
}

scroll-thumb:hover > scroll-thumb-inner,
scroll-thumb:active > scroll-thumb-inner {
  background-color: var(--custom-scrollbar-thumb-background-hover);
}

scroll-corner {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
}

scroll-corner.visible {
  display: block;
}

/* --------------------------------
 * 全局样式
 * --------------------------------
 */

/*修改盒模型*/
* {
  box-sizing: border-box;
}

/*禁止选取文本*/
body {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  user-select: none;
  font-size: var(--font-size-normal);
  font-family: var(--font-family-normal);
  font-feature-settings: 'tnum', 'zero';
  color: var(--text-color);
  background-color: var(--workspace-background);
}

body.border {
  left: var(--1dpx);
  top: var(--1dpx);
  right: var(--1dpx);
  bottom: var(--1dpx);
  outline: var(--window-outline);
}

input {
  font-size: 1em;
  font-family: inherit;
  color: inherit;
  text-overflow: ellipsis;
}

spacing {
  width: 8px;
}

:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

/*选中区域颜色
避免被 chrome 强制半透明*/
::selection {
  color: #ffffff;
  background-color: var(--selection-background);
}

/* --------------------------------
 * 工具栏
 * --------------------------------
 */
.toolbar-item {
  width: 29px;
  height: 24px;
  /*font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-family: var(--font-family-symbol);*/
  border-right: var(--toolbar-item-border);
}

.toolbar-item:hover {
  background-color: var(--toolbar-item-background-hover);
}

.toolbar-item:active,
.toolbar-item.selected {
  background-color: var(--toolbar-item-background-selected);
}

/* --------------------------------
 * 舞台窗口
 * --------------------------------
 */
#scene,
#ui,
#animation,
#particle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--stage-page-background);
}

nav-item[value=scene].selected,
nav-item[value=ui].selected,
nav-item[value=animation].selected,
nav-item[value=particle].selected {
  background-clip: padding-box;
  border-bottom: 1px solid transparent;
}
